        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f9f9f9;
            line-height: 1.5;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-areas:
                "h h"
                "n m"
                "f f";
            grid-template-columns: clamp(192px, 20%, 256px) auto;
            grid-template-rows: clamp(64px, 10vh, 128px) auto clamp(64px, 10vh, 128px);
            min-height: 100vh;
        }

        header {
        grid-area: h;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        }

        nav {
        grid-area: n;
        display: flex;
        flex-direction: column;
        padding: 10px;
        }

        nav ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        list-style: none;
        padding: 0;
        margin: 0;
        }

        nav button {
        width: 100%;
        padding: 8px 12px;
        cursor: pointer;
        border: none;
        border-radius: 6px;
        background-color: #d6336c;
        color: white;
        font-weight: bold;
        }

        nav button:hover {
        background-color: #a9334a;
        }

        main {
        grid-area: m;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: flex-start;
        gap: 20px;
        padding: 20px;
        overflow-y: auto
        }

        footer {
        grid-area: f;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        }

        h1 {
            font-size: 2em;
            font-weight: bold;
            display:block;
            width: 100%;
            text-align: center;
            color: #222;
            margin-bottom: 20px;
            border-bottom: 2px solid #d6336c;
            display: inline-block;
            padding-bottom: 5px;
        }

        .movie {
            border: 1px solid #ccc;
            padding: 15px;
            margin-bottom: 20px;
            background-color: #fff;
            display: flex;
            gap: 15px;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
            transition: background-color 0.3s ease;
            position: relative;
        }

        .movie:hover {
            background-color: #dddddd;
        }

        .movie img {
            width: auto;
            height: auto;
            border-radius: 8px;
        }

        .movie-info {
            flex: 1;
        }

        .movie-info h2 {
            margin: 0 0 10px 0;
            font-size: 1.2em;
            color: #222;
        }

        .movie-info p {
            margin: 5px 0;
            color: #555;
        }

        .movie-info p.genres span {
            transition: color 0.3s, font-weight 0.3s;
            cursor: default;
        }

        .movie-info p.genres span:hover {
            color: #d6336c;
            font-weight: bold;
        }

        .rating {
            display: inline-block;
            padding: 4px 8px;
            border-radius: 8px;
            color: white;
            font-weight: bold;
            font-size: 0.9em;
            margin-right: 5px;
         }

        .rating.good {
            background-color: #28a745; 
        }

        .rating.medium {
            background-color: #ffc107; 
            color: #333;
        }

        .rating.bad {
            background-color: #dc3545; 
        }

        /*responsive*/
        @media (max-width: 768px) {
        body {
            display: flex;
            flex-direction: column;
        }
        .movie {
                flex-direction: column; 
                align-items: center;   
                text-align: center;
            }

        .movie img {
            width: 80%;    
            max-width: 200px;
            margin-bottom: 10px;
        }

        .movie-info {
            width: 100%;  
        }
        }

        .movie-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
     position: absolute;
    bottom: 15px;
    right: 15px;
}

.edit-btn {
    padding: 6px 14px;
    background-color: #d64149;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85em;
    font-weight: bold;
    
    transition: background-color 0.2s ease;

}

.edit-btn:hover {
    background-color: #a9343a;
}

article {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  width: 300px;
}

article img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 6px;
}

article h1 {
  font-size: 1em;
  margin: 10px 0 5px 0;
}

article h2 {
  font-size: 0.9em;
  margin: 8px 0 4px 0;
}

article p, article li {
  font-size: 0.85em;
  color: #555;
  margin: 3px 0;
}

article ul {
  padding-left: 15px;
  margin: 0;
}